header,
.hero,
footer {
   background-color: #1f2937;
}

.logo {
   font-size: 24px;
   color: #f9faf8;
}
.intro h1 {
   font-size: 48px;
   font-weight: 900;
   color: #f9faf8;
}

.intro,
header .links {
   font-size: 18px;
   color: #e5e7eb;
}
ul {
   list-style-type: none;
}

a {
   text-decoration: none;
}

.image {
   background-color: #7e95b5;
   color: #e5e7eb;
}

button,
.call-to-action{
   background-color: #3882f6;
   color: #e5e7eb;
}

.info h2 {
   font-size: 36px;
   font-weight: 900;
   color: #1f2937;
}

.quote {
   background-color: #e5e7eb;
   font-size: 36px;
   font-weight: 200;
   font-style: italic;
   color: #1f2937;
}